@import 'nes.css/css/nes.css';

:root {
	--default-font: 'Press Start 2P';
	--toolbar-height: 100px;
}

@media (max-width: 400px) {
	:root {
		--toolbar-height: 140px;
	}
}

html {
	font-family: var(--default-font);
	image-rendering: pixelated;
	height: 100%;
	width: 100vw;
	padding: 8px;
}

.is-disabled {
	pointer-events: none;
}

body,
#app {
	height: 100%;
	width: 100%;
	user-select: none;
	overflow: hidden;
}

kbd {
	font-family: var(--default-font);
	outline: 2px solid #232323;
	padding: 2px 4px;
	border-radius: 2px;
}

kbd ~ kbd {
	margin-left: 8px;
}

.root {
	height: 100%;
}

.autohat__canvas {
	height: calc(100% - var(--toolbar-height));
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}

.autohat__canvas-inner {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.autohat__canvas-empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.autohat__canvas-help {
	text-align: left;
	margin-top: 36px;
	padding-left: 16px;
	font-size: 70%;
}

.autohat__canvas-help > p {
	display: inline-flex;
	align-items: center;
	gap: 16px;
}
.autohat__canvas-help svg {
	margin-top: -2px;
}

.autohat__canvas-loaded {
	height: 100%;
	width: 100%;
	image-rendering: auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.autohat__canvas-loaded-image {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	image-rendering: auto;
	margin: auto;
	opacity: 0%;

	position: absolute;
	pointer-events: none;
}

.autohat__canvas-loaded-canvasel .lower-canvas,
.autohat__canvas-loaded-canvasel .upper-canvas {
	position: absolute;
	inset: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.autohat__toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
	align-items: center;
	justify-content: center;
	height: var(--toolbar-height);

	position: relative;
}

progress.autohat__status {
	position: absolute;
	bottom: 0;
	opacity: 60%;
	border: none;
	transition: all 0.5s ease-in-out;
	pointer-events: none;
	height: 10px;
	border-radius: 16px;
}

.autohat__madeby {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 70%;
}
